<!--Html file where the code will live "Embeded JavaScript", allowing  us to pass in JS variables-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zoom Clone</title>
		<link rel="stylesheet" href="style.css" />
		<!-- Import socketio -->
		<script src="/socket.io/socket.io.js"></script>
		<!-- Import Peer -->
		<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
		<script>
			const ROOM_ID = "<%= roomId %>";
		</script>
	</head>
	<body>
		<!-- Create an html element where the videos will live (video-grid)-->
		<div id="video-grid"></div>
		<!-- Import script.js (make sure it is loaded here)-->
		<script src="script.js"></script>
	</body>
</html>
