<!--Html file where the code will live "Embeded JavaScript", allowing  us to pass in JS variables-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zoom Clone</title>
		<script>
			console.log("<%= roomId %>");
		</script>
	</head>
	<body>
		<!-- Create an html element where the videos will live (video-grid)-->
		<div id="video-grid"></div>
		<!-- Import script.js (make sure it is loaded here)-->
		<script src="script.js"></script>
	</body>
</html>
